@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto+Condensed:wght@400;700&display=swap');

/*
font-family: 'Roboto Condensed', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    min-height: 100vh;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #ffff;
    font-size: 25px;
    font-weight: bold;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffff;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover{
    color: blue;
}

.icons{
    display: flex;
}

.icons i{
    font-size: 23px;
    color: #ffff;
    margin-right: 15px;
    cursor: pointer;
}

.icons i:hover{
    color: blue;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-txt{
    width: 40%;
}

.header-txt h1{
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    margin-bottom: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

.header-txt p{
    font-size: 18px;
    color: #ffff;
    font-weight: 500;
    margin-bottom: 25px;
}

img{
    width: 100%;
}